name: SAM Deployment
on:
  push:
    branches:
      - gh-actions-ci
jobs:
  deploy-sam:
    name: Deploy Serveless API
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with: 
        token: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/setup-python@v2
    - uses: aws-actions/setup-sam@v2
      with:
        version: 1.59.0
    - uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
    - name: Set-up Node
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: npm install
      run: npm install --prefix=dependencies/nodejs install --loglevel=verbose
    - name: OpenSSL Encryption
      run: openssl aes-256-cbc -K $encrypted_a4267a9c202b_key -iv $encrypted_a4267a9c202b_iv -in .env.enc -out ./dependencies/nodejs/.env -d
    - name: Deploy
      working-directory: backend
      run: |
        sam validate
        sam package --template-file template.yaml --s3-bucket osu-so-serverless-builds --output-template-file packaged.yaml
        
#sam deploy --template-file /home/runner/work/energy-dashboard/energy-dashboard/backend/packaged.yaml --stack-name auth --capabilities CAPABILITY_IAM --region us-west-2 --no-confirm-changeset --no-fail-on-empty-changeset